body {
	margin: 0;
	font: 16px/1.6em sans-serif;
	color: #333;
	background: #fff;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}

@media (min-width: 1600px) {
	body {
		font: 17px/1.6em sans-serif;
	}
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.img-r {
	max-width: 100%;
	height: auto;
}

.center {
	text-align: center;
}

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}